<div class="control-group" id="field__id_">
	<label class="control-label" for="_id_">_label_</label>
	<div class="controls">
	  	<div class="input-append date datefield" id="_id__date" name="_id__date" data-date="" data-date-format="yyyy-mm-dd">
  			<input readonly="readonly" id="_id_" name="_id_" width="518px;" size="16" type="text" value="" _validation_>
  			<span class="add-on"><i class="icon-th"></i></span>
		</div>
	  	<span class="help-inline" id="help__id_"></span>
	</div>
</div>